@import "settings";
@import "../vendor/foundation/css/foundation.min.css";

$fa-font-path: '../vendor/font-awesome/fonts';
@import "../vendor/font-awesome/scss/font-awesome.scss";


.main-section {
  margin-top: 60px; // because navbar is fixed and 45px high.
}

.message {
  margin-top: 10px;
}

code {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 80%;
  font-weight: lighter;
}
