<div class='channel-info row'>
  <div class='small-12 columns'>
    <h4>
      <small>#</small>stahlstadt.js
    </h4>
  </div>
</div>
</hr>
{{#each messages}}
  {{render 'message' this}}
{{/each}}
{{markdown-textfield value=message action='sendMessage' upArrowAction='editLastMessage'}}
