<div>
  Logged in as: {{user.name}}
</div>
</hr>
{{#each}}
  <p class='message'>
    <span class='user_name'>
      {{this.user_name}}:
    </span>
    <span class='message_body'>
      {{markdown-text this.body}}
    </span>
  </p>
{{/each}}
{{markdown-textfield value=message action='sendMessage'}}
